@import '../../../scss/responsive-mixin-helper';
@import '../../../scss/tokens';

.react-dashboard {
  & > :not(:last-child) {
    margin-bottom: $react-size-60;
  }
  &__balance-statistics {
    .stats-btn-filter {
      svg {
        width: $react-size-50;
        height: $react-size-50;
      }
    }
    .balance-statistics {
      display: flex;
      height: 100%;
      @include mobile {
        flex-direction: column;
        & > :not(:last-child) {
          margin-bottom: $react-spacing-m;
        }
      }
      &__info {
        flex: 0 0 27%;
        & > :not(:last-child) {
          margin-bottom: $react-spacing-s;
        }
        &--total {
          font-size: $react-font-size-80;
          font-weight: 600;
        }
      }
      &__total {
        display: flex;
        align-items: center;
        &-img {
          width: 40px;
          margin-right: $react-spacing-ms;
        }
        &-label {
          color: $react-color-dark-med;
          font-weight: 500;
        }
      }
      &__total-label,
      &__desc {
        font-size: $react-font-size-30;
      }
      &__desc {
        color: $react-color-gray-med;
      }
      &__bar {
        flex: 1;
        .recharts-responsive-container {
          @include mobile {
            min-height: 150px !important;
          }
        }
      }
    }
    .statistics__bar {
      &--primary {
        fill: $react-color-purple-high;
      }
      &--secondary {
        fill: $react-color-purple-med;
      }
    }
  }
  &__credit-card {
    @include desktop {
      flex: 0 0 35%;
      max-width: 35%;
    }
  }
  &__analytics {
    @include desktop {
      flex: 0 0 30%;
      max-width: 30%;
    }
  }
}
