@import '../../../scss/responsive-mixin-helper';
@import '../../../scss/tokens';

.react-dashboard {
  & > :not(:last-child) {
    margin-bottom: $react-size-60;
  }
  &__balance-statistics {
    @include tablet-and-under {
      order: 2;
      margin-bottom: 0 !important;
    }
    .stats-btn-filter {
      svg {
        width: $react-size-50;
        height: $react-size-50;
      }
    }
    .balance-statistics {
      display: flex;
      height: 100%;
      @include mobile {
        flex-direction: column;
        & > :not(:last-child) {
          margin-bottom: $react-spacing-m;
        }
      }
      &__wrapper {
        @include mobile {
          min-height: 150px;
        }
        @include tablet {
          max-height: 200px;
        }
        @include desktop {
          min-height: 250px;
        }
      }
      &__info {
        flex: 0 0 27%;
        & > :not(:last-child) {
          margin-bottom: $react-spacing-s;
        }
        &--total {
          font-size: $react-font-size-80;
          font-weight: 600;
        }
      }
      &__total {
        display: flex;
        align-items: center;
        &-img {
          width: 40px;
          margin-right: $react-spacing-ms;
        }
        &-label {
          color: $react-color-dark-med;
          font-weight: 500;
        }
      }
      &__total-label,
      &__desc {
        font-size: $react-font-size-30;
      }
      &__desc {
        color: $react-color-gray-med;
      }
      &__bar {
        flex: 1;
      }
    }
    .statistics__bar {
      &--primary {
        fill: $react-color-purple-high;
      }
      &--secondary {
        fill: $react-color-purple-med;
      }
    }
  }
  &__credit-card {
    @include tablet-and-under {
      order: 1;
      margin-bottom: $react-size-60;
    }
    @include desktop {
      flex: 0 0 35%;
      max-width: 35%;
    }
    .credit-card {
      &__logo {
        width: $react-size-90;
        @include mobile {
          width: $react-size-80;
        }
      }
      &__content {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: $react-spacing-m;
        box-sizing: border-box;
        @include mobile {
          min-height: 180px;
        }
        @include tablet {
          min-height: 200px;
        }
      }
      &__info {
        display: flex;
        color: $react-color-white-default;
        font-weight: 500;
        @include mobile {
          font-size: $react-font-size-30;
        }
        & > :first-child {
          flex: 1;
        }
        & > :last-child {
          display: flex;
          align-items: end;
          justify-content: end;
        }
      }
    }
  }
  &__analytics {
    @include desktop {
      flex: 0 0 30%;
      max-width: 30%;
    }
  }
  &__items-buy {
    & > :not(:last-child) {
      margin-bottom: $react-spacing-m;
    }
    &--times {
      display: flex;
      .items-buy__times--time {
        &:not(:last-child) {
          position: relative;
          margin-right: 80px;
          &::before {
            content: '>';
            position: absolute;
            top: 50%;
            right: -45px;
            font-size: $react-font-size-70;
            transform: translateY(-50%);
            color: $react-color-gray-med;
          }
        }
        &-clock {
          font-size: $react-font-size-60;
          font-weight: 600;
        }
        &-date {
          font-size: $react-font-size-20;
          color: $react-color-gray-med;
        }
      }
    }
    &--lists {
      & * {
        font-size: $react-font-size-30;
        font-weight: 500;
      }
      & svg {
        width: $react-size-40;
        height: $react-size-40;
      }
      .label-count {
        font-weight: 400;
      }
      .items-buy__lists--total {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .items-buy__lists--items {
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        // & > :not(:last-child) {
        //   margin-right: $react-spacing-ms;
        // }
        &-list {
          flex: 0 0 calc(50% - calc($react-spacing-ms / 2));
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: $react-color-purple-low;
          padding: calc($react-spacing-s / 2) $react-spacing-s;
          box-sizing: border-box;
          border-radius: $react-size-20;
          font-size: $react-font-size-50 !important;
          &:not(:nth-child(2n)) {
            margin-right: $react-spacing-ms;
          }
          &:not(:nth-last-child(-n + 2)) {
            margin-bottom: $react-spacing-ms;
          }
          .list-checkbox {
            flex: 1;
            display: flex;
            align-items: center;
            & > :not(:last-child) {
              margin-right: $react-spacing-s;
            }
            label {
              cursor: pointer;
              flex: 1;
            }
          }
          .react-button {
            color: $react-color-dark-high;
          }
        }
      }
    }
  }
}
