@import '../../../scss/responsive-mixin-helper';
@import '../../../scss/tokens';
@import './tokens/default';

.react-widget {
  display: flex;
  flex-direction: column;
  width: 380px;
  background-color: $react-color-white-default;
  box-sizing: border-box;
  padding: $react-widget-spacing-padding-desktop;
  transition: 0.3s;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 100dvh;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  & > :not(:last-child) {
    margin-bottom: $react-size-60;
  }
  @include mobile {
    display: none;
  }
  @include tablet {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -380px;
    padding: $react-widget-spacing-padding-tablet;
    &.r-active {
      right: 0;
    }
  }
  &__close--toggle {
    @include desktop {
      display: none;
    }
  }
}
