@import '../../../scss/responsive-mixin-helper';
@import '../../../scss/tokens';
@import './tokens/default';

.react-widget {
  display: flex;
  flex-direction: column;
  width: 380px;
  background-color: $react-color-white-default;
  box-sizing: border-box;
  padding: $react-widget-spacing-padding-desktop;
  & > :not(:last-child) {
    margin-bottom: $react-size-60;
  }
  @include tablet {
    padding: $react-widget-spacing-padding-tablet;
  }
  @include mobile {
    display: none;
    padding: $react-widget-spacing-padding-mobile;
  }
}
