@import '../../../scss/responsive-mixin-helper';
@import '../../../scss/tokens';
@import './tokens/default';

.react-card {
  --react-card-title-padding: #{$react-card-spacing-padding-title};
  --react-card-body-padding: #{$react-card-spacing-padding-body};

  background-color: $react-color-white-default;
  border-radius: $react-size-30;
  &.r-has-border {
    border: 2px solid $react-color-gray-low;
  }
  &__title {
    padding: var(--react-card-title-padding);
    &.r-small,
    &.r-medium,
    &.r-large {
      font-weight: 500;
    }
    &.r-small {
      font-size: $react-font-size-30;
    }
    &.r-medium {
      font-size: $react-font-size-40;
    }
    &.r-large {
      font-size: $react-font-size-50;
    }
    &.r-has-action {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__body {
    padding: var(--react-card-body-padding);
  }
  &__multibody {
    display: flex;
    @include mobile {
      flex-direction: column;
      & > :not(:first-child) {
        border-top: 1px solid $react-color-gray-low;
      }
      & > :not(:last-child) {
        border-bottom: 1px solid $react-color-gray-low;
      }
    }
    @include tablet {
      & > :not(:first-child) {
        border-left: 1px solid $react-color-gray-low;
      }
      & > :not(:last-child) {
        border-right: 1px solid $react-color-gray-low;
      }
    }
    .react-card__title {
      --react-card-title-padding: 0;
      margin-bottom: $react-spacing-s;
    }
    .react-card__body {
      --react-card-body-padding: #{$react-card-spacing-padding};
    }
  }
}
