@import '../../../scss/tokens';
@import './tokens/default';

.react-card {
  background-color: $react-color-white-default;
  padding: $react-card-spacing-padding;
  border: 2px solid $react-color-gray-default;
  border-radius: $react-size-30;

  &__title {
    margin-bottom: $react-spacing-s;
    &--medium,
    &--large {
      font-weight: 600;
    }
    &--small {
      font-size: $react-font-size-30;
      font-weight: 500;
    }
    &--medium {
      font-size: $react-font-size-40;
    }
    &--large {
      font-size: $react-font-size-50;
    }
  }
}
