$react-sidebar-height: 100dvh;
$react-sidebar-content-menus-border-radius: $react-size-90;
$react-sidebar-content-menus-color-background: $react-color-purple-low;
$react-sidebar-content-menus-size: $react-size-90;
$react-sidebar-header-logo-color-text: $react-color-dark-high;
$react-sidebar-header-logo-text: $react-font-size-70;
$react-sidebar-spacing-padding: $react-spacing-ms $react-spacing-m;
