@import '../../../scss/tokens';
@import './tokens/default';

.react-button {
  --react-button-width: 100%;
  --react-button-height: #{$react-size-80};
  --react-button-border-radius: #{$react-size-20};

  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--react-button-width);
  height: var(--react-button-height);
  color: var(--react-button-color);
  background-color: var(--react-button-background);
  border-radius: var(--react-button-border-radius);
  border-color: transparent;
  transition: 0.3s;
  cursor: pointer;
  font-size: $react-font-size-40;
  font-family: 'Poppins', sans-serif;

  &.r-small {
    --react-button-width: #{$react-size-70};
    --react-button-height: #{$react-size-70};
  }
  &.r-large {
    --react-button-width: #{$react-size-100};
    --react-button-height: #{$react-size-100};
  }
  &.r-circle {
    --react-button-width: #{$react-size-90};
    --react-button-height: #{$react-size-90};
    --react-button-border-radius: 100%;
  }
  &.r-white {
    --react-button-background: #{$react-color-white-default};
    --react-button-color: #{$react-color-dark-high};
    &:hover {
      --react-button-background: #{$react-color-gray-low};
    }
  }
  &.r-purple {
    --react-button-background: #{$react-color-purple-high};
    --react-button-color: #{$react-color-white-default};
    &:hover {
      --react-button-background: #{$react-button-color-background-hovered};
    }
  }
  &.r-purple-low {
    --react-button-background: #{$react-color-purple-low};
    --react-button-color: #{$react-color-purple-high};
    &:hover {
      --react-button-background: #{$react-color-gray-low};
    }
  }
}
