// prettier-ignore
$react-card-spacing-padding-title: $react-spacing-ms $react-spacing-m calc($react-spacing-s / 2);
$react-card-spacing-padding-title-l: $react-spacing-ms $react-spacing-m;
// prettier-ignore
$react-card-spacing-padding-body: $react-spacing-s $react-spacing-m $react-spacing-ms;
$react-card-spacing-padding: $react-spacing-ms $react-spacing-m;
