// prettier-ignore
$react-card-spacing-padding-title: $react-spacing-ms $react-spacing-m ($react-spacing-s/2);
// prettier-ignore
$react-card-spacing-padding-body: ($react-spacing-s/2) $react-spacing-ms $react-spacing-m;
$react-card-spacing-padding: $react-spacing-ms $react-spacing-m;
