@import 'tokens';

body {
  background-color: $react-color-purple-low;
  color: $react-color-dark-default;
  height: -webkit-fill-available;
}

.react-app {
  display: flex;
}

.react-content {
  flex: 1;
  padding: $react-spacing-ms $react-spacing-m;
}
