@import './responsive-mixin-helper';
@import 'tokens';

body {
  background-color: $react-color-purple-low;
  color: $react-color-dark-high;
  height: -webkit-fill-available;
}

.react-app {
  overflow: hidden;
  @include tablet {
    position: relative;
    display: flex;
  }
}

.react-content {
  flex: 1;
  padding: $react-spacing-xl;
  @include tablet {
    padding: $react-spacing-l;
  }
  @include mobile {
    padding: $react-spacing-m;
  }
  & > :not(:last-child) {
    margin-bottom: $react-size-60;
  }
}

.react-row {
  display: flex;
  flex-wrap: wrap;
  @include mobile {
    flex-direction: column;
  }
  & > * {
    flex: 1;
  }
  & > :not(:last-child) {
    @include mobile {
      margin-bottom: $react-size-60;
    }
    @include tablet {
      margin-right: $react-size-60;
    }
  }
}
