// color
$react-color-white-default: #ffffff;
$react-color-gray-med: #a2a3a5;
$react-color-gray-low: #e2e3e9;
$react-color-dark-high: #262e35;
$react-color-dark-med: #36424d;
$react-color-purple-high: #545be2;
$react-color-purple-med: #c7c9fe;
$react-color-purple-low: #f7f6fe;
$react-color-orange-high: #faab0f;
// size
$react-size-0: 0px;
$react-size-1: 1px;
$react-size-5: 2px;
$react-size-10: 4px;
$react-size-20: 8px;
$react-size-30: 12px;
$react-size-40: 16px;
$react-size-45: 18px;
$react-size-50: 20px;
$react-size-60: 24px;
$react-size-70: 32px;
$react-size-75: 36px;
$react-size-80: 40px;
$react-size-90: 48px;
$react-size-100: 56px;
$react-size-110: 64px;
$react-size-120: 72px;
// font
$react-font-size-10: 10px;
$react-font-size-20: 12px;
$react-font-size-30: 14px;
$react-font-size-40: 16px;
$react-font-size-50: 18px;
$react-font-size-60: 20px;
$react-font-size-70: 24px;
$react-font-size-80: 32px;
$react-font-size-90: 40px;
$react-font-size-100: 48px;
$react-font-size-110: 56px;
$react-font-size-120: 64px;
// spacing
$react-spacing-zero: 0;
$react-spacing-s: 8px;
$react-spacing-ms: 12px;
$react-spacing-m: 16px;
$react-spacing-ls: 20px;
$react-spacing-l: 24px;
$react-spacing-xl: 32px;
