$react-color-white-background-default: #ffffff;
$react-color-purple-background-high: #545be2;
$react-color-purple-background-med: #c7c9fe;
$react-color-purple-background-low: #f7f6fe;
$react-spacing-zero: 0;
$react-spacing-s: 8px;
$react-spacing-ms: 12px;
$react-spacing-m: 16px;
$react-spacing-ls: 20px;
$react-spacing-l: 24px;
$react-spacing-xl: 32px;
