@mixin menu-item-hidden($space) {
  --item-scale: 0;
  --item-visibility: hidden;

  position: absolute;
  z-index: 1;
  width: 100px;
  left: calc($react-size-90 + $space);
  text-align: center;
  background-color: $react-color-white-default;
  padding: $react-spacing-s $react-spacing-ms;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  border-radius: $react-size-120;
  color: $react-color-dark-default;
  scale: var(--item-scale);
  visibility: var(--item-visibility);
  transition: 0.3s;
}
